<div class="min-h-screen">
<!-- <div class="min-h-screen bg-black"> -->
    <app-header />
    <div class="container mx-auto ">
        <div class="grid grid-cols-2 text-white my-8 gap-8">
            <div class="">
                <h2 class="text-3xl text-center mb-4">Featured Characters</h2>
                <div class="grid grid-cols-3 gap-4">
                    <div class="ransition-all duration-300 ease-out delay-75 hover:scale-105">
                        <div class="bg-rose-900 rounded-lg p-2">
                            <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CCC3F8712F781DC1ECDDC406924EF0569A30DB0F0BF628CA9EAF60B97C9ABC4B/scale?width=1600&aspectRatio=1.78&format=webp"
                                alt="" class="rounded-lg w-full h-64 object-cover">
                            <p class="mt-2">Hola</p>
                        </div>
                    </div>
                    <div class="ransition-all duration-300 ease-out delay-75 hover:scale-105">
                        <div class="bg-gray-900 rounded-lg shadow p-2">
                            <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CCC3F8712F781DC1ECDDC406924EF0569A30DB0F0BF628CA9EAF60B97C9ABC4B/scale?width=1600&aspectRatio=1.78&format=webp"
                                alt="" class="rounded-lg w-full h-64 object-fill">
                            <h2 class="mt-4 text-rose-900"></h2>
                        </div>
                    </div>
                    <div class="ransition-all duration-300 ease-out delay-75 hover:scale-105">
                        <div class="bg-gray-900 rounded-lg shadow p-2">
                            <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CCC3F8712F781DC1ECDDC406924EF0569A30DB0F0BF628CA9EAF60B97C9ABC4B/scale?width=1600&aspectRatio=1.78&format=webp"
                                alt="" class="rounded-lg w-full h-64 object-fill">
                            <h2 class="mt-4 text-rose-900"></h2>
                        </div>
                    </div>
                    <div class="ransition-all duration-300 ease-out delay-75 hover:scale-105">
                        <div class="bg-gray-900 rounded-lg shadow p-2">
                            <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CCC3F8712F781DC1ECDDC406924EF0569A30DB0F0BF628CA9EAF60B97C9ABC4B/scale?width=1600&aspectRatio=1.78&format=webp"
                                alt="" class="rounded-lg w-full h-64 object-fill">
                            <h2 class="mt-4 text-rose-900"></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <h2 class="text-3xl text-center mb-4">Featured Comics</h2>
                <div class="grid grid-cols-2 gap-4">
                    <div class="">
                        <div class="bg-gray-900 rounded-lg shadow p-2">
                            <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CCC3F8712F781DC1ECDDC406924EF0569A30DB0F0BF628CA9EAF60B97C9ABC4B/scale?width=1600&aspectRatio=1.78&format=webp"
                                alt="" class="rounded-lg w-full h-64 object-fill">
                            <h2 class="mt-4 text-rose-900"></h2>
                        </div>
                    </div>
                    <div class="">
                        <div class="bg-gray-900 rounded-lg shadow p-2">
                            <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CCC3F8712F781DC1ECDDC406924EF0569A30DB0F0BF628CA9EAF60B97C9ABC4B/scale?width=1600&aspectRatio=1.78&format=webp"
                                alt="" class="rounded-lg w-full h-64 object-fill">
                            <h2 class="mt-4 text-rose-900"></h2>
                        </div>
                    </div>
                    <div class="">
                        <div class="bg-gray-900 rounded-lg shadow p-2">
                            <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CCC3F8712F781DC1ECDDC406924EF0569A30DB0F0BF628CA9EAF60B97C9ABC4B/scale?width=1600&aspectRatio=1.78&format=webp"
                                alt="" class="rounded-lg w-full h-64 object-fill">
                            <h2 class="mt-4 text-rose-900"></h2>
                        </div>
                    </div>
                    <div class="">
                        <div class="bg-gray-900 rounded-lg shadow p-2">
                            <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/CCC3F8712F781DC1ECDDC406924EF0569A30DB0F0BF628CA9EAF60B97C9ABC4B/scale?width=1600&aspectRatio=1.78&format=webp"
                                alt="" class="rounded-lg w-full h-64 object-fill">
                            <h2 class="mt-4 text-rose-900"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>