<nav class="w-full h-16 bg-rose-900">
    <div class="flex justify-around items-center h-full">
        <div>
            <ul class="flex gap-6 text-white text-2xl">
                <li><a [routerLink]="['']">Marvel</a></li>
                <li><a [routerLink]="['/comics']">Comic</a></li>
                <li><a [routerLink]="['/characters']">Characters</a></li>
            </ul>
        </div>
        <div>
            <input type="text" class="w-80 h-8 bg-white rounded-lg focus:outline-sky-600 p-3"
                placeholder="Search Characters">
        </div>
    </div>
</nav>